/* Baseline */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: block;
  height: auto;
  width: auto;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181823;
  color: #e9f8f9;
}

header > a {
  text-decoration: none;
  color: inherit;
}

/* The hover is not working */
header > li:hover {
  background-color: #c0eef2;
  color: #181823;
}

header > a > h1 {
  margin-left: 10px;
  border: 0;
  padding: 0;
  justify-self: flex-start;
}

nav {
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav > img {
  display: none;
}

.hero-section {
  display: flex;
  align-items: center;
  background-color: #181823;
  color: #e9f8f9;
  justify-content: space-around;
  margin: 0;
  border: 0;
  padding: 0;
  padding-bottom: 1%;
}

.hero-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-left {
  margin: 5%;
  margin-top: 8%;
  padding: 0;
  flex: 1 1 40%;
  flex-wrap: wrap;
}

.hero-section-right {
  flex: 1 1 20%;
}

.hero-section-right-image {
  height: auto;
  width: 320px;
}

/* This is blog segment */
.blog-card {
  display: flex;
  width: 95%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-item {
  flex: 1 0 25%; 
  margin: 5px;
  /* height: 100px; */
  margin: 1%;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blog-item:hover {
  background-color: #c0eef2;
  border-radius: 1em;
  border: 2px solid #537fe7;
}

.blog-image {
  display: block;
  height: auto;
  width: auto;
}

.blog-tag-wrapper {
  display: flex;
}

.blog-tag {
  background-color: #537fe7;
  font-size: smaller;
  font-weight: bold;
  color: #c0eef2;
  margin-right: 0.6em;
  padding: 0.4em;
  border-radius: 0.8em;
}

.blog-heading {
  font-weight: bold;
}

.blog-author-and-date-wrapper {
  display: flex;
  margin: 0;
  border: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: x-small;
}

.blog-author-image {
  width: 20px;
  margin: 1em;
  height: auto;
  flex: 1;
}

.blog-author {
  flex: 2;
  margin: 1em;
}

.blog-published-date {
  flex: 1;
  margin: 1em;
}

.blog-published-time {
  flex: 1;
  margin: 1em;
}

/* Do Not Touch The Above Baseline At All */

@media (max-width: 1440px) {
  /* This is blog segment */

  /* .blog-image {
    height: 100px;
  } */
}

/* Tablet view is fine */

@media (max-width: 1024px) {
  nav {
    overflow: hidden;
    margin-right: 10px;
  }

  nav > ul {
    display: none;
  }

  nav > img {
    display: block;
    width: 50px;
    height: 50px;
  }

  .hero-section-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero-section-left {
    margin: auto;
    padding: 0;
    width: 60%;
    flex-wrap: wrap;
  }

  .hero-section-right {
    margin: auto;
    padding-top: 10px;
    width: 60%;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
  }

  .blog-item {
    flex: 1;
    margin: 1%;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 640px) {
  nav {
    margin-right: 10px;
  }

  nav > ul {
    display: none;
  }

  nav > img {
    display: block;
    width: 50px;
    height: 50px;
  }

  .hero-section-right-image {
    height: auto;
    width: 200px;
    margin-bottom: 2%;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
  }

  .blog-item {
    margin: 2%;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
